.regularbtn{
  cursor: pointer;
  color: #000;
  border: 0;
  font-size: 1rem;
  border-radius: 15px;
  background: rgba(225, 225, 225);
  padding: 10px 30px;
}

.add_btn{
background: linear-gradient(0deg, #F4BB4A, #F4BB4A);
color: #fff;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.cancel_btn{
  background: linear-gradient(0deg, #E3E3E3, #E3E3E3);
color: #000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.greenish{
  background: linear-gradient(90deg, #B5DC52 0%, #89E148 100%);
  color: #fff;

}

.redish{
  background: linear-gradient(90deg, #FF9595 0%, #FF4747 80%, #FF3838 100%);
  color: #fff;

}