.pagination_sec{  
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  gap: 10px;
}


.navbtn{
  border: none;
  width: 37px;
  height: 37px;
  border-radius: 15px;
  background-color: rgb(241,241,241);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.page_num{
  width: 37px;
  height: 37px;
  border-radius: 5px;
  background: rgba(67, 150, 123, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  align-content: center;
}