.container{
  background-color: var(--primary-bg-color);
  min-height: 100vh;
  padding: 20px;
}

.container h1{
  color: rgba(255, 255, 255, 1);
  margin-bottom: 12px;
}

.top_section{  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: rgba(98, 98, 98, 1);
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px 25px;  
}

.bottom_section{
  margin-top: 30px;
  display: grid;
  grid-template-columns: 60% 38%;
  gap: 20px;  
  
}

@media(max-width:767px){
  .top_section{  
  display: grid;
  grid-template-columns: 98%; 
  }

  .bottom_section{  
  grid-template-columns: 98%;
  }

    .container{
      text-align: center;
    }

}