.barchart_section h2{
  font-style: italic;
  color: white;
  margin-bottom: 10px;
}

.bar_chart{  
  padding: 10px;  
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}

.recharts-surface{
  padding: 10px;
}