
.modal_wrapper h2{
  margin-bottom: 10px;
}

.modal_wrapper form{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.modal_wrapper .myform{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.modal_wrapper form input{
  border: 0;
  outline: 0;
  font-size: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 10px;
}

.modal_wrapper form select{
  padding: 10px;
  font-size: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  outline: 0;
  border: 0;
}

@media(max-width:767px) {
  .modal_wrapper form{
    flex-direction: column;
  }

  .modal_wrapper .myform{
    grid-template-columns: 1fr;
  }
}