@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root{
  --primary-bg-color: rgba(59, 59, 59, 1);
  --secondary-bg-color: rgba(155, 155, 155, 1);
}

*{
  box-sizing: border-box;
  margin: 0;  
  font-family: "Ubuntu", sans-serif;  
  
}




html, body{
  height: 100%;
}